body {
  background-color: #030a34;
  color: #fff;
  font-family: 'Futura LT';
}


.top-btn-wrap {
  text-align: right;
  margin-top: -25px;
}

.top-btn-wrap button {
  background: no-repeat;
  border: none;
  color: #FC4BA3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin-right: 35px;
  display: inline-block;
}

.big-title {
  font-size: 175px;
  font-weight: bold;
  text-transform: uppercase;
}

.big-title .color1 {
  color: #FC4BA3;
}

.big-title .color2 {
  color: #3FECC5;
}

.big-title .color3 {
  color: #10169B;
}

.big-title .color4 {
  color: #AD8F45;
}

.connect-wrap .colors-image {
  width: 45%;
  height: auto;
}

.connect-wrap {
  text-align: right;
}

.description {
  font-size: 24px;
  width: 55%;
  font-weight: 700;
}

.invest-calculator-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator-buttons button {
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #10169B;
  margin: 0 5px;
  position: relative;
  border: none;
}

.calculator-buttons button span {
  height: 33px;
  width: 33px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calculator-buttons button span:after {
  content: "";
  background: #fff;
  height: 22px;
  width: 22px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.calculator-buttons button.active span:after {
  background: #FC4BA3;
}

.calculator-value {
  background: #fff;
  color: #010B34;
  padding: 0 30px;
  line-height: 50px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
}

.calculator-value .currency {
  font-weight: normal;
}

.invest-calculator .primary-btn {
  background: #3FECC5;
  ;border-radius: 50px;
  width: 100%;
  padding: 10px 30px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.invest-calculator {
  text-align: right;
  width: 50%;
  margin-left: auto;
}

.section-banner {
  padding: 50px 0;
}

.text-box {
  background: #010622;
  text-align: center;
  padding: 50px 30px;
  border-radius: 5px;
}

.text-box-wrap {
  margin-top: 50px;
}

.text-box .primary-btn {
  background: #3FECC5;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.line-one {
  border-bottom: 5px solid #FC4BA3;
  margin-top: 30px;
}
.line-two {
  border-bottom: 2px solid #10169B;
}

@media (max-width: 1400px) {
  .big-title {
    font-size: 140px;
  }
  .invest-calculator {
    width: 60%;
  }
  .connect-wrap .colors-image {
    width: 70%;
  }
}

@media (max-width: 1199px) {
  .big-title {
    font-size: 110px;
    margin: 15px 0 20px;
  }
  .description {
    font-size: 20px;
    width: 100%;
    margin-bottom: 40px;
  }
  .invest-calculator {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .connect-wrap .colors-image {
    width: 100%;
  }
  .big-title {
    font-size: 90px;
  }
}

@media (max-width: 767px) {
  .big-title {
    font-size: 60px;
  }
  .description {
    font-size: 16px;
  }
  .invest-calculator-inner {
    display: block;
}
.invest-calculator {
  text-align: center;
}
.calculator-value {
  margin-left: 0;
  margin-top: 20px;
}
}

@media (max-width: 425px) {
  .calculator-buttons button {
    height: 35px;
    width: 35px;
}
.calculator-buttons button span {
  height: 25px;
  width: 25px;
}
.calculator-buttons button span:after {
  height: 15px;
  width: 15px;
}
}